SQLAlchemy==0.8.0b2
Scrapy==0.16.4
Twisted==12.3.0
beautifulsoup4==4.3.2
cssselect==0.9.1
html5lib==0.999
lxml==3.1beta1
psycopg2==2.4.6
pyOpenSSL==0.13
pyquery==1.2.8
requests==1.1.0
six==1.5.2
w3lib==1.2
wsgiref==0.1.2
zope.interface==4.0.3
