<!doctype html>
<html>
  <head>
    <title>Gluten Free Girl Scout Cookie Finder</title>
  </head>
  <body>
    Input a valid US 5-digit zip code to see if you can get Gluten Free Girl Scout Cookies!
    <form action="/" method="post">
        Zipcode: <input type="text" name="zipcode">
        <input type="submit" value="Submit">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
  </body>
</html>